@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cyber Security Web Application</h1>
    <p class="lead">created by <span>Mohamad Hosein Kahkeshan</span></p>
</div>


<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">Home Page</a>
    <a href="/Home/HashData" class="list-group-item list-group-item-action">Hash Function</a>
    <a href="/Home/HtmlEncode" class="list-group-item list-group-item-action">Html.Raw and Html.Encode</a>
    <a href="/Data/VulnerableLogin" class="list-group-item list-group-item-action">Vulnerable Login Page (to Sql Injection Attacks)</a>
    <a href="/Data/SafeLogin" class="list-group-item list-group-item-action">Safe Login with Parameterized Queries</a>
</div>
